# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

# COMMENTED OUT VALUES WITHOUT DEFAULT ARE ASKED BY TERRAFORM AT RUNTIME

# Provider
project_id = "agisit-2324-grupo-13-melhor"
region     = "us-west4"
subregion  = "a"

docker_repo_name = "the-best-todo"

# GKE
# Check machine types for Kubernetes Nodes in https://cloud.google.com/compute/docs/general-purpose-machines
# n1-standard-8  has 8xvCPU,   30 GB Memory  ->   62.49 $
# n1-standard-4  has 4xvCPU,   15 GB Memory  ->   31.24 $
# n1-standard-2  has 2xvCPU,  7.5 GB Memory  ->   15.62 $
# e2-standard-32 has 32xvCPU, 128 GB Memory  ->  107.41 $
# e2-standard-16 has 16xvCPU,  64 GB Memory  ->   53.71 $
# e2-standard-8  has 8xvCPU,   32 GB Memory  ->   26.86 $
# e2-standard-4  has 4xvCPU,   16 GB Memory  ->   13.43 $
# e2-standard-2  has 2xvCPU,    8 GB Memory  ->    6.71 $
# e2-medium      has 2xvCPU,    4 GB Memory  ->    3.36 $
# e2-small       has 2xvCPU,    2 GB Memory  ->    1.68 $
# e2-micro       has 2xvCPU,    1 GB Memory  ->    0.84 $
gke_node_machine_type = "e2-standard-2"
gke_workers_count     = 3

# K8S
k8s_todoapp_namespace = "thebesttodoapp"
k8s_todoapp_services  = {
        frontend = {
            endpoint       = "/*",
            service-port   = 5000,
            container-port = 5000,
            replicas       = 3,
        },
        taskadder = {
            endpoint       = "/api/addTask",
            service-port   = 5000,
            container-port = 5000,
            replicas       = 1,
        },
        taskeditor = {
            endpoint       = "/api/editTask",
            service-port   = 5000,
            container-port = 5000,
            replicas       = 1,
        },
        taskreader = {
            endpoint       = "/api/tasks",
            service-port   = 5000,
            container-port = 5000,
            replicas       = 1,
        },
        taskremover = {
            endpoint       = "/api/removeTask",
            service-port   = 5000,
            container-port = 5000,
            replicas       = 1,
        },
    }

# Other
credentials_file = ""

duckdns_token  = ""
duckdns_domain = "cocozinho"